<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DotNetCodingStandards" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="SA1000" Action="None" />
	<Rule Id="SA1101" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
	<Rule Id="SA1413" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1118" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.Rules.CSharp">
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS0618" Action="Warning" />
  </Rules>
</RuleSet>